.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid greenyellow;
    max-height: 40%;
    margin: 5%;
    padding: 1%;
    max-width: 80%;
}
.post__head{
    display: flex;
    justify-content: center;
}
.post__image{
    max-width: 40%;
    max-height: 40%;
}
.post__text{
    width: 60%;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    text-overflow: clip;
    border-: ;
}
.post__tags{
    color: rgba(0, 0, 0, 0.397);
}