.post{
    display: flex;
    flex-direction: row;
    j
    align-items: center;
    
}
.post__head{
    display: flex;
    justify-content: center;
}
.post__image{

}
.post__text{

}
.post__tags{

}