.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid greenyellow;
    w
}
.post__head{
    display: flex;
    justify-content: center;
}
.post__image{

}
.post__text{

}
.post__tags{

}